<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Icono LinkedIn</title>
    <style>
      .icon-linkedin {
        width: 120px; /* cambia a lo que quieras */
        height: 120px;
        display: block;
      }
    </style>
  </head>
  <body>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon-linkedin"
      viewBox="0 0 512 512"
    >
      <defs>
        <linearGradient id="liGrad" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="#0A66C2"></stop>
          <stop offset="100%" stop-color="#2563eb"></stop>
        </linearGradient>
      </defs>
      <rect width="512" height="512" rx="15%" fill="url(#liGrad)"></rect>
      <path
        fill="white"
        d="M141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43
         0-19.49 13.65-34.42 34.65-34.42s33.85 14.82
         34.31 34.42c0 19.14-13.31 34.43-34.66 34.43zm-32.31
         229.89h64.18V205.88h-64.18zM370.72 205.21c-33.95 0-48.54
         19.14-57.88 32.44v-27.77h-64.18v199.54h64.18V295.76c0-5.84.47-11.56
         2.22-15.76 4.67-11.69 15.17-23.69 32.91-23.69 23.22 0 32.56 17.86
         32.56 44v109.12h64.18V288.85c0-59.87-31.87-87.64-74-87.64z"
      ></path>
    </svg>
  </body>
</html>
